*{
    padding:0px
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    margin-top: 100px;
    display: flex;
    width: 600px;
    flex-direction: column;
    
}

 
    