body{
    display: flex;
    justify-content: center;
    
}


form{
    margin-top: 80px;
    width: 650px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;

}
